/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$link-color: #4f7c8d;

$navbar-bg: #A7D5E8 !default;

/*-- scss:rules --*/

.slides {
  padding: 0em 1em 0em 2em;
  position: relative;
  font-size: 0.9em;
}
.slides:before {
  content: "\f108";
  font-family: FontAwesome;
  color: #444B54;
  left: 5px;
  position: absolute;
}


.source {
  padding: 0em 1em 0em 2em;
  position: relative;
  font-size: 0.9em;
}
.source:before {
  content: "\f1c9";
  font-family: FontAwesome;
  color: #a8a8a8;
  left: 5px;
  position: absolute;
}

.video {
  padding: 0em 1em 0em 2em;
  position: relative;
  font-size: 0.9em;
}
.video:before {
  content: "\f16a";
  font-family: FontAwesome;
  color: #c4302b;
  left: 5px;
  position: absolute;
}


.instructions {
  padding: 0em 1em 0em 2em;
  position: relative;
  font-size: 0.9em;
}
.instructions:before {
  content: "\f15c";
  font-family: FontAwesome;
  color: #444B54;
  left: 5px;
  position: absolute;
}

.starter {
  padding: 0em 1em 0em 2em;
  position: relative;
  font-size: 0.9em;
}
.starter:before {
  content: "\f09b";
  font-family: FontAwesome;
  color: #444B54;
  left: 5px;
  position: absolute;
}
