.btn-primary {
    background-color: #0abab5ff;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #0abab5ff;
    border-color: #0abab5ff;
}
.custom-dark {
    background-color:  #D5FF34;
}
.yd_alert {
    background: #D5FF34;
    padding: 8px;
    align-self: center;
    color: #000000;
}

.btn:focus{
    box-shadow: none;
}

.navbar {
    height: max-content;
    min-height: 100px;
}
.navbar-logo {
    max-height: 2rem;
    width: auto;
    padding-right: 0.5rem;
}
.footer {

    font-size: 1.4rem;
}
nav .nav-item:not(.compact) {
    padding-top: 1rem;
    font-size: 1.5rem;
}
nav .nav-item:not(.compact) {
    padding-top: 15px;
    font-size: 1rem;
}

nav .nav-item.compact .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 20px;
    font-size: 1.6rem;
}

.nav-footer-center .footer-items {
    justify-content: center;
    font-size: 1rem;
}
.nav-footer-left .footer-items {
    justify-content: left;
    font-size: 1rem;
}
.nav-footer-right .footer-items {
    justify-content: right;
    font-size: 1.4rem;
}