name: ci-test-snowflake

on:
  workflow_dispatch:
  pull_request:
    types:
      - labeled

permissions:
  contents: read


jobs:
  linux:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || github.event.label.name == 'ci-test-snowflake'
    strategy:
      matrix:
        target: ["x86_64"]
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: download test data
        run: just download-data

      - name: Rust latest
        run: rustup update

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --extra snowflake --group dev --group test --no-install-project
        working-directory: ${{ github.workspace }}

      - name: maturin develop
        run: uv run --no-project maturin develop
        working-directory: ${{ github.workspace }}

      - name: start services
        run: docker compose up --build --wait

      - name: pytest
        run: uv run --no-project pytest --import-mode=importlib python/letsql/backends/snowflake -v --cov --cov-report=xml
        working-directory: ${{ github.workspace }}
        env:
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_GH_USER_PASSWORD }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_GH_USER_NAME }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_GH_WAREHOUSE }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_GH_ROLE }}
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_GH_ACCOUNT }}

      - name: Upload coverage reports to Codecov
        if: success()
        continue-on-error: true
        uses: codecov/codecov-action@v5.3.1
        with:
          flags: snowflake
          token: ${{ secrets.CODECOV_TOKEN }}

