name: ci-test-examples

on:
  push:
    # Skip the backend suite if all changes are docs
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - "*.md"
      - "codecov.yml"
      - ".envrc"
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read


jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["x86_64"]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: download test data
        run: just download-data

      - name: Rust latest
        run: rustup update

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Poetry install
        run: poetry install --extras="examples"
        working-directory: ${{ github.workspace }}

      - name: maturin develop
        run: poetry run maturin develop --release
        working-directory: ${{ github.workspace }}

      - name: start services
        run: docker compose up --build --wait

      - name: poetry pytest
        run: poetry run pytest --import-mode=importlib python/letsql/tests/test_examples.py -v
        working-directory: ${{ github.workspace }}
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_GH_PASSWORD }}
          POSTGRES_USER: ${{ secrets.POSTGRES_GH_USER }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_GH_HOST }}
          POSTGRES_PORT: ${{ secrets.POSTGRES_GH_PORT }}
          POSTGRES_DATABASE: ${{ secrets.POSTGRES_GH_DATABASE }}